/build/
/bin/
.project
.classpath
/.settings*
/.idea*
/.gradle/
/.idea/
/.nb-gradle/
/bin/
/.classpath
/.project
/simplified logo.svg
/testSpline.svg
/CSGdatabase.json
/*.stl
/Test.svg
out

/*.mtl
/*.obj
/*.stp
html

/freecad.FCStd
/handmade.step
/test-export-2.step
/test-export.step
