/build/
/target/
/bin/
.project
.classpath
/.settings*
/.idea*
/.gradle/
/.idea/
/.nb-gradle/
/bin/
/.classpath
/.project
/simplified logo.svg
/testSpline.svg
/CSGdatabase.json
/*.stl
/Test.svg
out

/*.mtl
/*.obj
/*.stp
html

/freecad.FCStd
/handmade.step
/test-export-2.step
/test-export.step
/Part-Num-0.svg.png
/SVGExportTest.svg
/SVGExportTest2.svg
/SVGExportTest3.svg
/SVGExportTest4.svg
/SVGExportTest5.svg
/box.svg.png
/brokenSTL.STL.png
/jcsg-svg/*.png
/jcsg-svg/*.svg
/jcsg/*.stl
.flattened-pom.xml
dependency-reduced-pom.xml
target/
build/
